google_api_python_client==2.85.0
google_auth_oauthlib==0.7.1
isodate==0.6.1
locationtagger==0.0.1
matplotlib==3.6.1
nltk==3.7
numpy==1.23.3
pandas==1.5.0
plotly==5.10.0
python-dotenv==1.0.0
pytrends==4.9.2
requests==2.28.1
seaborn==0.12.2
spacy==3.1.6
streamlit==1.21.0
streamlit_option_menu==0.3.2
